!!!
%html
  %head
    %title "Hippo"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:"http-equiv" => "refresh", :content => "20"}

  %body
    %div.container
      = render 'layouts/header'
      = yield
      = render 'layouts/footer'
